openapi: 3.0.0
info:
    title: Nutrition Item API
    version: 1.0.0
    description: An API for managing nutritional information of items
servers:
    - url: https://calories.alexose.com
      description: Development server

paths:
    /items:
        get:
            summary: Get a list of items
            operationId: getItems
            responses:
                "200":
                    description: A list of items
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Item"
        post:
            summary: Create new items
            operationId: createItems
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                items:
                                    type: array
                                    items:
                                        $ref: "#/components/schemas/Item"
            responses:
                "201":
                    description: New items created
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Item"
    /items/today:
        get:
            summary: Get items consumed today
            operationId: getItemsToday
            responses:
                "200":
                    description: A list of items consumed today
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Item"
    /items/last7days:
        get:
            summary: Get items consumed in the last 7 days
            operationId: getItemsLast7Days
            responses:
                "200":
                    description: A list of items consumed in the last 7 days
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/Item"

components:
    schemas:
        Item:
            type: object
            required:
                - name
                - calories
                - fat
                - carbs
                - protein
            properties:
                id:
                    type: integer
                    format: int64
                    description: Unique identifier for the item
                name:
                    type: string
                    description: Name of the item
                calories:
                    type: number
                    format: double
                    description: Caloric content
                fat:
                    type: number
                    format: double
                    description: Fat content
                carbs:
                    type: number
                    format: double
                    description: Carbohydrate content
                protein:
                    type: number
                    format: double
                    description: Protein content
                consumed_at:
                    type: string
                    format: date-time
                    description:
                        Best guess at exactly when this item was consumed.  If it seems like it was during breakfast,
                        choose a time in the morning.  If dinner, choose a time in the evening.  Default to the current
                        time.
                created_at:
                    type: string
                    format: date-time
                    description: Date and time when the item was created
